<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-content>
      <ion-item mode="ios" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Modifier mon mot de passe </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-content>
      <ion-item mode="ios" lines="none">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Deconnexion</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<footer class="ion-text-center">
  <p>Made by André, Cédrick and Loick</p>
</footer>
